body {
  font-family: Helvetica;
}
.introContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
div.image {
  width: 30vw;
  height: 70vh;
  display: flex;
  justify-content: center;
  justify-items: center;
}
.img1 {
  background-image: url("../images/1.jpg");
}
.img2 {
  background-image: url("../images/2.jpg");
}
.img3 {
  background-image: url("../images/3.jpg");
}
.question {
  display: flex;
  justify-content: center;
}
.likert {
  list-style-type: none;
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

.likertElement {
  margin-right: 25px;
}
.likertElement:hover {
  font-weight: bold;
}
.nextQuestion {
  margin-top: 30px;
}
button {
  width: 100px;
  height: 30px;
}
.nextQuestionBox {
  display: flex;
  justify-content: center;
}
.mainContainer > div:not(:first-child) {
  display: none;
}




